# === Database (Aiven MySQL) ===
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=deploy

# === JWT ===
JWT_SECRET=teu-super-segredo-muda-isto-em-producao

# === CORS ===
FRONTEND_URL=http://localhost:5173

# === App ===
NODE_ENV=development
PORT=3001